

.Bghome{
    background: linear-gradient(359.62deg, #2AF598 0.32%, rgba(228, 0, 129, 0) 99.66%);
}
.body{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 680px;
    height: auto;
    cursor: pointer;
    overflow-x: hidden;
}

.Avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
} 

.Name-Header{
    font-weight: fit-content;
    font-size: 32px;
}

.Header-caption{
    width: fit-content;
    height: auto;
    align-items: center;
}

.Header-container{
    max-width: fit-content;
    height: auto;
} 

.Header1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Karla', sans-serif;
    margin-bottom: 2rem;
    
}

.Port-BTN{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 680px;
    height: 4rem;
    margin: auto;
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Karla', sans-serif;
    line-height: 1.2rem;
    background: #140606;
    color: white;
    border-radius: 2rem;
    transition: all 1s;
    font-weight: 400;
    font-size: 16px;
}

.Port-BTN:hover {
    transform: scale(1.1);
    color: #140606;
    background-color:  #FFE225;
    /* border: 1px solid;
    border-color: #9B8181; */
    box-shadow: 2px 6px 16px 2px rgba(0, 0, 0, 0.20);
    
}

.Hero-foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 70px;
    margin-top: 4rem;
    max-width: 8px;
    margin: auto;
    

}

img {
    margin-top: 4rem;
    width: 70px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    margin: 1.5rem;
}  

.linke{
    transition: All 0.5s;
}
.linke:hover {
    transform: scale(1.3);
    background-color: rgb(194, 247, 47);
    border-radius: 120px;
} 

.noline {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: large;
}

.Contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-style: normal;
    font-weight: 450;
    margin-top: 2rem;
    margin-bottom: 8rem;
    transition: All 1s;
    font-family: 'Karla', sans-serif;

}
 
.Contact:hover {
    transform: scale(1.2);

} 

@media (max-width: 768px){
    .body{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 700px;
        cursor: pointer;
        overflow-x: hidden;
    }
    
    .Name-Header{
        font-weight: 450;
        font-size: 12px;
    }

    .Header-caption{
        font-size: 14px;
        height: auto;
    }

    .Port-BTN{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0.5rem;
        height: auto;
        text-align: center;
        margin-bottom: 0.5rem;
        font-family: 'Karla', sans-serif;
        background: #140606;
        color: white;
        border-radius: 1rem;
        transition: all 1s;
        font-weight: 200;
        font-size: 12px;
    }

    img {
        margin-top: 0.5rem;
        display: flex;
        flex-direction: row;
        width: 24px; 
    }

    .Contact{
        font-style: normal;
        font-weight: 300;
        margin-top: 2rem;
        margin-bottom: 8rem;
        transition: All 1s;
        font-family: 'Karla', sans-serif;
    }

    .Avatar img{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        width: 80px;
    } 
    
}


